@model IEnumerable<myflix_website.Models.Video>

@{
    int index = 0;
    ViewData["Title"] = "Index";
}

<h1>Videos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                <img src="@($"data:image/jpeg;base64,{ViewBag.ImageUrls[index]}")" alt="Thumbnail">
                @{
                    index++;
                }
            </td>
            <td>
                    @Html.ActionLink("Watch", "Watch", new { filename = item.VideoUrl })
            </td>
        </tr>
}
    </tbody>
</table>
