@model IEnumerable<myflix_website.Models.Video>

@{
    int index = 0;
    ViewData["Title"] = "Index";
}

<h1>Videos</h1>

<div class="row gap-1">
    @{
        @foreach (var item in Model)
        {
            <div class="card col-3" style="width: 18rem;">
                <img src="@($"data:image/jpeg;base64,{ViewBag.ImageUrls[index]}")" class="card-img-top" alt="Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(model => item.Title)
                    </h5>
                    <p class="card-text">
                        @Html.DisplayFor(model => item.Description)
                    </p>
                    <p><strong>Length</strong>: @Html.DisplayFor(model => item.Length)s</p>
                    <p><strong>Author</strong>: @Html.DisplayFor(model => item.Author)</p>
                    @Html.ActionLink("Watch", "Watch", new { filename = item.VideoUrl })
                </div>
            </div>

            index++;
        }
    }
</div>